// colors

$fontColor: rgb(240, 240, 240);
$headerBackgroundColor: rgba(56, 56, 56,0.9);
$background-color: rgb(56, 56, 56);
// $highlight-color-a: rgb(136, 194, 145);
// $highlight-color-b: rgb(113, 198, 119);
$highlight-color-a: rgb(86, 160, 123);
$highlight-color-b: rgb(111, 177, 146);
$postit-color-a: rgb(102, 147, 168);
$postit-color-b: rgb(124, 178, 216);